[submodule "flounder.style.js"]
	path = flounder.style.js
	url = https://github.com/wraith13/flounder.style.js
[submodule "flounder.svg.js"]
	path = flounder.svg.js
	url = https://github.com/wraith13/flounder.svg.js
[submodule "nephila"]
	path = nephila
	url = https://github.com/wraith13/nephila
