// __BUILD_MESSAGE__
// build options: __BUILD_OPTIONS__
// build at: __BUILD_TIMESTAMP__
// repository: __REPOSITORY_URL_

$white-color: __WHITE_COLOR__;
$black-color: __BLACK_COLOR__;
$tektite-accent-color: __ACCENT_COLOR__;
$tektite-active-color: __ACTIVE_COLOR__;
$tektite-delete-color: __DELETE_COLOR__;
$tektite-progress-bar-color:#1079C0;
$tektite-white-flash-color: rgba(255,255,255,0.8);
$tektite-glass-foreground-color: #FFFFFF;
$tektite-glass-delete-color: #C2001C;
$tektite-screen-cover-color: #00000088;
$tektite-weak-color: #888888;
