// This file is genereted by build.js. このファイルは build.js によって生成されました。
// build options: ../../build.json release
// build at: Fri Jan 31 2025 06:15:25 GMT+0900 (日本標準時)
// repository: https://github.com/wraith13/flounder.studio/

$white-color: #FFFFFF;
$black-color: #000022;
$tektite-accent-color: #228844;
$tektite-active-color: #6F7F00;
$tektite-delete-color: #831B50;
$tektite-progress-bar-color:#1079C0;
$tektite-white-flash-color: rgba(255,255,255,0.8);
$tektite-glass-foreground-color: #FFFFFF;
$tektite-glass-delete-color: #C2001C;
$tektite-screen-cover-color: #00000088;
$tektite-weak-color: #888888;
